.venv
__pycache__/
.ipynb_checkpoints
*.pyc
.DS_Store
.vscode/
logs/
data/lots1/
data/raw/
data/processed/
venv/data/processed/*.png
*.pth
/*.pth
data/raw/*.png
mflow/
mlruns/
venv/*.zip
*.zip
.dvc/
.dvc/
venv/
.coverage
venv/
outputs/*.csv
outputs/*.json
!outputs/.gitkeep
airflow/logs/
airflow/plugins/
airflow/config/
mlflow.db
htmlcov/
mlflow/
mlflow.
mlflow.db
.pytest_cache/  
