numpy
pandas
matplotlib
seaborn
tqdm
opencv-python
scikit-learn
torch
torchvision
mlflow
pyngrok
pyspark
findspark
pyspark-dist-explore
dvc
hyperopt
fastapi
uvicorn
docker
apache-airflow
evidently
prometheus-client
grafana-api